* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pixel";
  src: url("../../../../public/fonts/PressStart2P-Regular.ttf");
}
body {
  font-family: "Pixel", sans-serif;
}

button {
  font-family: "Pixel", sans-serif;
  cursor: pointer;
}

.first-phase {
  background-image: url("../images/home-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.first-phase .pokemon-balls {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}
.first-phase .pokemon-balls .ball {
  margin-inline: 1.5rem;
}
.first-phase .pokemon-balls:hover {
  cursor: pointer;
}
.first-phase .pokemon-monster {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}
.first-phase .pokemon-monster .monster {
  height: 350px;
  width: 350px;
}
.first-phase .pokemon-monster .start-game {
  font-size: 1.2rem;
  background-color: white;
  border: none;
  padding: 1em 1.2em;
  border-radius: 0.5rem;
}
.first-phase .d-none {
  display: none;
}

.battle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.battle-container .battle-field {
  width: 800px;
}
.battle-container .battle-field .fight-field {
  background-image: url("../images/Grassy-Field.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 70vh;
  overflow: hidden;
}
.battle-container .battle-field .fight-field .hero-health {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: #fdfedc;
  border: 7px solid #2d4e3b;
  padding: 1em 1.5em;
  width: 350px;
  border-radius: 2rem 1rem 2rem 1rem;
}
.battle-container .battle-field .fight-field .hero-health h2 {
  margin-bottom: 1.5rem;
}
.battle-container .battle-field .fight-field .hero-health .health-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.battle-container .battle-field .fight-field .hero-health .health-bar .progress-border {
  width: 250px;
  height: 25px;
  background-color: white;
  border-radius: 1rem;
  border: 3px solid #2d4e3b;
}
.battle-container .battle-field .fight-field .hero-health .health-bar .progress-border .progress-bar {
  border-radius: 1rem;
  background-color: #56ffa0;
  height: 100%;
}
.battle-container .battle-field .fight-field .villain-health {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: #fdfedc;
  border: 7px solid #2d4e3b;
  padding: 1em 1.5em;
  width: 350px;
  border-radius: 2rem 1rem 2rem 1rem;
}
.battle-container .battle-field .fight-field .villain-health h2 {
  margin-bottom: 1.5rem;
}
.battle-container .battle-field .fight-field .villain-health .health-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.battle-container .battle-field .fight-field .villain-health .health-bar .progress-border {
  width: 250px;
  height: 25px;
  background-color: white;
  border-radius: 1rem;
  border: 3px solid #2d4e3b;
}
.battle-container .battle-field .fight-field .villain-health .health-bar .progress-border .progress-bar {
  border-radius: 1rem;
  background-color: #56ffa0;
  height: 100%;
}
.battle-container .battle-field .fight-field .hero {
  width: 180px;
  position: absolute;
  bottom: 0;
  left: 12%;
}
.battle-container .battle-field .fight-field .villain {
  width: 250px;
  position: absolute;
  right: 9%;
  top: -5%;
}
.battle-container .battle-field .attack-list {
  height: 30vh;
  border: 1rem solid #706880;
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.battle-container .battle-field .attack-list .attack {
  font-size: 1.7rem;
  padding: 1em 1em;
}

.ball-scale {
  animation: ballAnimation 1s;
}

@keyframes ballAnimation {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
.hero-enter {
  animation: heroEnter 1.5s;
}

@keyframes heroEnter {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0%);
  }
}
.villain-enter {
  animation: villainEnter 1.5s;
}

@keyframes villainEnter {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0%);
  }
}
.monster-attacked {
  animation: monsterAttacked 500ms;
}

@keyframes monsterAttacked {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.move-left-right {
  animation: moveLeftRight 1s;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(-15%);
  }
  25% {
    transform: translateX(15%);
  }
  50% {
    transform: translateX(-15%);
  }
  75% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0%);
  }
}
.d-none {
  display: none;
}

/*# sourceMappingURL=app.css.map */
